/**
 * Sample form styling, taken from Skeleton, adapted for Bolt.
 *
 * @see http://www.getskeleton.com/?#forms
 */

form.simpleform { margin: 20px 0; }
form.simpleform fieldset { margin-bottom: 20px; }
form.simpleform input[type="text"],
form.simpleform input[type="password"],
form.simpleform input[type="email"],
form.simpleform textarea,
form.simpleform select {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #777;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 0 0 0.25em 0;
    background: #fff;
}
form.simpleform select { padding: 0; }
form.simpleform input[type="text"]:focus,
form.simpleform input[type="password"]:focus,
form.simpleform input[type="email"]:focus,
form.simpleform textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow:  0 0 3px rgba(0,0,0,.2);
}
form.simpleform input.wide { width: 90%; }
form.simpleform textarea { min-height: 60px; min-width: 90%; }
form.simpleform label,
form.simpleform legend { display: block; margin: 0.75em 0 0.25em; }
form.simpleform select { width: 220px; }
form.simpleform input[type="checkbox"] { display: inline; margin-right: 1em; }
form.simpleform label span,
form.simpleform legend span { font-weight: normal; font-size: 13px; color: #444; }
form.simpleform button,
form.simpleform input[type="button"],
form.simpleform input[type="submit"] { margin-top: 0.75em; padding: 4px 14px; font-weight: normal; }
form.simpleform .checkbox-placeholder { display: inline; color: #666; }
form.simpleform label.required:after { content: " *"; color: #F00; font-weight: bold; }
p.simpleform-error {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #EED3D7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #B94A48;
    background-color: #F2DEDE;
}
p.simpleform-message {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #D6E9C6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #468847;
    background-color: #DFF0D8;
}

/* Personal format - PROPOSAL FORM */
form.simpleform-proposal input[type="text"],
form.simpleform-proposal input[type="email"],
form.simpleform-proposal select { width: 100% !important; }
form.simpleform-proposal label[for=proposal_value] { text-align: center; color: #171d4c; font-size: 1.375rem }
form.simpleform-proposal input#proposal_value { width: 100%; font-size: 40px; height: auto; }
form.simpleform-proposal p.info { background: rgba(0,0,0,0.5); color: #fff; padding: 5px; font-size: 0.75rem; margin-top: -17px; }
form.simpleform-proposal input.simpleform-submit { 
    background: #1bb852 url(../images/bg-box.png); 
    border-color: #118239; 
    border-width: 0 0 2px 0; 
    border-radius: 3px; 
    text-transform: uppercase; 
    padding: 0.625rem 0.375rem; 
    font-family: 'Roboto', sans-serif; 
    font-size: 1.75rem; 
    font-weight: 700; 
    color: #fff;
    width: 100%;
    white-space: normal;
}

/* Personal format - WORKWITHUS FORM */
form.simpleform-workwithus .simpleform-row { float: left; padding: 0 20px; }
form.simpleform-workwithus input#workwithus_name,
form.simpleform-workwithus input#workwithus_email { width: 670px }
form.simpleform-workwithus select,
form.simpleform-workwithus input#workwithus_birthdate_year { width: 60px; float: left; margin: 0 10px 16px 0; }
form.simpleform-workwithus input#workwithus_address { width: 320px }
form.simpleform-workwithus input#workwithus_addressnumber { width: 60px }
form.simpleform-workwithus select#workwithus_graduation,
form.simpleform-workwithus input#workwithus_course { width: 435px; }
form.simpleform-workwithus textarea { min-height: 200px; width: 280px; }
form.simpleform-workwithus input.simpleform-submit { 
    background: #1bb852 url(../images/bg-box.png); 
    border-color: #118239; 
    border-width: 0 0 2px 0; 
    border-radius: 3px; 
    text-transform: uppercase; 
    padding: 0.625rem 0.375rem; 
    font-family: 'Roboto', sans-serif; 
    font-size: 1.75rem; 
    font-weight: 700; 
    color: #fff;
    white-space: normal;
}

